[bumpversion]
current_version = 9.1.0
commit = False
tag = False
tag_name = {new_version}

[bumpversion:file:pyproject.toml]

[bumpversion:file:README.md]

[bumpversion:file:CITATION.cff]

[bumpversion:file:docs/index.rst]

[bumpversion:file:docs/conf.py]

[bumpversion:file:deepdiff/__init__.py]
