-r requirements.txt
-r requirements-cli.txt
bump2version==1.0.1
jsonpickle==4.0.0
coverage==7.6.9
ipdb==0.13.13
numpy==2.1.3
pytest==8.3.4
pytest-cov==6.0.0
python-dotenv==1.0.1
Sphinx==6.2.1 # We use the html style that is not supported in Sphinx 7 anymore.
sphinx-sitemap==2.6.0
sphinxemoji==0.3.1
flake8==7.1.1
python-dateutil==2.9.0.post0
orjson==3.10.12
wheel==0.45.1
tomli==2.2.1
tomli-w==1.1.0
pydantic==2.10.3
pytest-benchmark==5.1.0
pandas==2.2.3
polars==1.16.0
setuptools==75.6.0
