-r requirements.txt
-r requirements-cli.txt
bump2version==1.0.1
jsonpickle==1.4.2
coverage==5.3.1
ipdb==0.13.4
numpy==1.19.4
pytest==6.2.1
pytest-cov==2.10.1
python-dotenv==0.15.0
watchdog==1.0.2
Sphinx==3.4.1
sphinx-sitemap==2.2.0
flake8==3.8.4
